option_settings:
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: vpc-07bb7df9c5d4b9b6d
    
  - namespace: aws:ec2:vpc
    option_name: Subnets
    value: subnet-0a38c657ffb418db2
    
  - namespace: aws:ec2:vpc
    option_name: ELBSubnets
    value: subnet-081d9fa62649333cf
    
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: sg-0e19c2aabf5439c4d

